.wrapper, body, html {
  min-height: 100%;
}
.dark-mode {
  color: #fff;
}
.wrapper {
  max-height: 100%;
  overflow: auto;
  position: relative;
}


.main-header {
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}
.dark-mode .navbar-dark {
  background-color: #343a40;
  border-color: #4b545c;
}
.layout-navbar-fixed .wrapper .main-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1037;
}
@media (min-width: 768px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 250px;
    }
}

.main-sidebar, .main-sidebar::before {
  transition: margin-left .3s ease-in-out, width .3s ease-in-out;
  width: 250px;
}
.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}
[class*="sidebar-dark-"] {
  background-color: #343a40;
}
.elevation-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
}
